* {
    font-family: 'Contrail One', cursive;
}
body {
    background: url("https://images.pexels.com/photos/2539395/pexels-photo-2539395.jpeg?cs=srgb&dl=pexels-sergei-a-2539395.jpg&fm=jpg") 50% no-repeat;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.top-bar{
    top:0px;
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.top-bar ul{
    background-color: transparent;
} 

.menu-text {
    font-size: 40px;
}

.footer a{
    position: absolute;
    bottom: 5px;
    color: rgba(232, 243, 73, 0.822);
    left: 50%;
}

.creditBody {
    justify-content: center;
    top: 100px;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.432);
    text-align: center;
    width: 50%;
    padding: 30px;
    border-radius: 15px;
    margin: 0 auto;
    color: rgb(32, 133, 124);
   
}

.creditName{
    font-family: 'Contrail One', cursive;
   
}

.card {
    margin: 10em 1em;
    background-color: rgba(30, 98, 201, 0.281);
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    
}

.card-divider {
    background-color: rgba(0,0,0, 0);
}

.hidden {
    display: none;
}

